.container{
    display: flex;
    width: 500px;
    background: lightblue; 
    border-radius: 20px;
    border: 1px solid black;
    width: 797px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    height: 133px;
} 
.container .box .header{
    font-size: large;
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
    margin: 2px;
    width: 250px;
    text-align: center;
    border-radius: 20px; 
}
.container .box .items{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin-right: 2px;
}
